.master-header{
  background:#ffffcc;
  margin:0;
  border-bottom:1px solid #222;
}
.master-header h1{
  margin:0;
}
.master-header a{
  display:inline-block;
}
.master-header img{
  margin-top:10px;
}
.image-form-wrapper{
  padding:10px;
}
.row{
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.footer{
  text-align: center;
  background: #333;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0;
}

.image-list-wrapper{
  padding:20px;
}

.image-list-wrapper ul{
  list-style-type: none;
}

.image-wrapper{
  max-width:280px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.bg-info{
  max-width:280px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
