body{
  margin-top:80px;
}
.footer{
  padding:20px;
  text-align:center;
  background:#fff;
  width:100%;
  color:#ccc;
  position:sticky;
  bottom:0;
  border-top:1px solid #ccc;
}
.error{
  color:#fff;
  background:brown;
  border-color:red;
  font-weight:bold;
}
.entries{
  max-height:720px;
  overflow-y:auto;
}
.custom_entry{
  display:inline-block;
  float:left;
  margin-top:-8px;
}
.horbar{
  font-weight:normal;
  color:#333;
}
.master-header{
  position:fixed;
  top:0;
  width:100%;
  background:#cd4f34;
  height:50px;
  color:#fff;
  padding:10px;
  Z-INDEX:1;
  border-bottom:2px solid #444;
}
.panel-title{
  padding:0;
}
.posted{
  display:inline-block;
  float:right;
  margin-top:-8px;
}
.master-header{
  margin:0;
}
.master-header img{
  max-height:50px;
  margin:0;
}
.master-header a{
  color:#fff;
  position:fixed;
  top:-0;
  text-decoration:none;
}
.master-header h1{
  margin:0;
  padding-top:2px;
}
.master-header a:hover{
  color:#444;
}
.master-wrapper{
  padding:15px;
  margin:0;
}
