<div class="error_message" id="error_message">

    {if $error != ''}
        {$error}
    {else}
    {/if}

</div>
<form name="problem" class="form_users_edit" id="frm_admin"  user_id="{$user.user_id}" action="{$admin_new_user_url}" method="post">

    <input type="hidden" name="user_id" value="{$user.user_id}">

    <input type="hidden" name="user_type" value="1">

    <input type="text" name="user_name" class="pb_input_title" placeholder="Name"  id="login_email" value="{$user.user_name}"/>

    <input type="text" name="email" class="pb_input_title" placeholder="Email"  id="login_email" value="{$user.email}"/>

    <input type="text" name="password" class="pb_input_title" placeholder="Pasword"  id="login_pass" value=""/>


    <!--<input class="" type="button" value="Salveaza" user_id="{$user.user_id}" class="btn btn-primary edit_user_action" name="save_user"/>-->
</form>
